<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>USER TABLE</title>
  <link rel="website icon" type="png" href="images/maya.png">
  <link href="https://fonts.cdnfonts.com/css/caveat" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/kreon" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://kit.fontawesome.com/7f01a542af.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="stylesheets/admin.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
      <div class="sidenav">
        <a href="/adminDashboard">Dashboard</a>
        <a href="/adminUserTable">User Table</a>
        <a href="/logs">Logs</a>
        <a href="/logout">Logout</a>
      </div>
        <h1 style="font-family: kreon,open-sans;font-weight: bold;font-size: 50px;color: black;">User Table</h1>
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th>Email</th>
            <th>Password</th>
            <th>User Type</th>
            <th class="action-th">Action</th>
          </tr>
          </thead>
          <tbody id="data">
          <!-- Loop through the records retrieved from MongoDB -->
          <% users.forEach(function(user) { %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td><%= user.usertype %></td>
            <td colspan="3">
              <div class="btn-group">
                <a href="/view?id=<%= user.id %>" class="btn view-btn">View</a>
                <a href="/edit?id=<%= user.id %>" class="btn update-btn">Edit</a>
                <a href="#" class="btn delete-btn" data-email="<%= user.email %>">Delete</a>
              </div>
            </td>
          </tr>
          <% }); %>
          </tbody>
        </table>
      </div>
      
      <!-- Modal for password input -->
      <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="passwordModalLabel">Account Deletion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="passwordInput">Please enter your password to confirm deletion:</label>
                <input type="password" class="form-control" id="passwordInput">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="confirmDeleteBtn">
      Confirm</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
      </div>
      
        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script>
        $(document).ready(function() {
          var deleteEmail;
        
          // Set the email to delete when the delete button is clicked
          $('.delete-btn').click(function() {
            deleteEmail = $(this).data('email');
            // Store the email in session
            $.ajax({
              url: '/setDeleteEmail',
              method: 'POST',
              data: {
                email: deleteEmail
              },
              success: function(response) {
                // Open the password modal
                $('#passwordModal').modal('show');
              },
              error: function(xhr, status, error) {
                console.error(error);
              }
            });
          });
        
          // Handle the delete confirmation
          $('#confirmDeleteBtn').click(function() {
            var password = $('#passwordInput').val();
        
            // Make an AJAX request to delete the user
            $.ajax({
              url: '/deleteUser',
              method: 'POST',
              data: {
                password: password
              },
              success: function(response) {
                if (response.success) {
                  // Log the delete action
                  $.ajax({
                    url: '/logAction',
                    method: 'POST',
                    data: {
                      action: 'Delete',
                      email: deleteEmail
                    },
                    success: function(logResponse) {
                      // Reload the page to reflect the changes
                      window.location.reload();
                    },
                    error: function(xhr, status, error) {
                      console.error(error);
                      // Reload the page to reflect the changes
                      window.location.reload();
                    }
                  });
                } else {
                  alert(response.message);
                }
              },
              error: function(xhr, status, error) {
                console.error(error);
              }
            });
          });
        });
      </script>      
</body>
</html>